body{
    width:100vw;
    overflow-x: hidden;
}
header {
    background-color: black;
    color: white;
}

a {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}
h1 {
    font-size: 10vw;
    font-weight: 200;
}

h2 {
    font-size: 5.8vw;
    /*font-family: "Work Sans", sans-serif;*/
    letter-spacing: 7px;
}

h3 {
    font-size: 3.5vw;
    font-family: "Work Sans", sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}
p {
    font-family: "Work Sans", sans-serif;
}

body{
    font-family: Futura, sans-serif;
}

main {
    background-image: url("../images/stripes3-01.jpg");
background-repeat: no-repeat;
    height: 100vh;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: red;
    transition: all .5s;
}
button.navbar-toggler:focus {
    outline: 1px none;
}

#title{
    background-color: white;
}

#how-title {
    padding-top:40vh;
}

#about{
    color: white;
    background-color: black;
    min-height:100vh;
}
.card{
    height:100%;
}
.bricks {
    background-image: url("../images/bricks.jpg");
    height: 100vh;
    background-repeat: no-repeat;
background-size: 100%;
}

.brick-copy {
    color: black;
    overflow-y: hidden;
    height: 100%;
    width:100vw;
    overflow-x: hidden;
}
.brick-copy:hover{

}
#jms {
    height: 40px;
}
/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #how-title {
        padding-top: 25%;
    }
    h1{
        font-size: 8.7vh;
    }
    h2 {
        font-size: 6vh;
    }
    h3  {
        font-size: 4vh;
    }
    #title{
        padding-left: 20px;

    }


}

.card {
    border: none;

}

/*gray scale*/
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    max-width: 100%;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.contact {
    background-color: black;
    color: white;
    max-height: 100vh;
}
.contact h1 {
    color: white;
}
.contact{
    padding-top:40px;
    position: relative;
    height:100vh;

}
#proj {
    background-color: black;
    height:auto;
    overflow-x:inherit ;
    width: 100%;
}
#proj-wht {
    background-color: white;
    height:auto;
    overflow-x:inherit ;
    width: 100%;
}

footer a {
color: black;
}
#how-title a {
    color: black;
}
.wht {
    color: white;}
.futura {
    font-family: Futura,  sans-serif;
}
.eureka-mockup{
    width:100%;
}